<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.shop.user.mapper.ShopUserMapper" >
  <resultMap id="BaseResultMap" type="com.wf.shop.user.bean.ShopUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wf.shop.user.bean.ShopUser" >
    insert into shop_user (id, `name`, nick, 
      password)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wf.shop.user.bean.ShopUser" >
    update shop_user
    set `name` = #{name,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, `name`, nick, password
    from shop_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, nick, password
    from shop_user
  </select>

    <select id="queryByNameAndPwd" resultMap="BaseResultMap" parameterType="string" >
        select id, `name`, nick, password
        from shop_user WHERE `name`=#{name} and password=#{password}
    </select>
</mapper>